*,
::before,
::after {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

a {
  text-decoration: none;
}

:root {
  --color-link: #2196f3;
  --font: "Roboto", sans-serif;
  --grey: #757575;
  --color-title: #212121;
  --caps: uppercase;
  --time-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
header .container {
  display: flex;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background: #fff;
  color: var(--color-title);
}
button {
  cursor: pointer;
}
.menu {
  align-items: center;
  display: flex;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 25px 0px;
  align-items: center;
}
nav {
  display: flex;
}
.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
  color: var(--color-title);
}
.web {
  color: var(--color-link);
}
.studio {
  color: var(--color-title);
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 7px;
}
.list-item {
  position: relative;
  margin-right: 50px;
}
.list-studio {
  font-size: 14px;
  font-family: var(--font);
  /*
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;*/
  color: var(--color-title);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-studio:hover,
:focus {
  color: #2196f3;
}
.line-button {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.line-button:hover {
  color: var(--color-link);
}
.line-button:focus {
  color: var(--color-link);
}
.line-button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  margin-top: 28.3px;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-button:focus::after,
.line-button:hover::after {
  opacity: 1;
}
.page-btn-nav {
  font-size: 14px;
  font-family: var(--font);
  color: var(--color-link);
}
.page-line-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  margin-top: 28.3px;
  opacity: 1;
}
.con-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.con-item {
  margin-right: 50px;
}
.con-item:last-child {
  margin-right: 0;
}
.mail-icon-con {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}
.mail-icon-con:hover {
  fill: var(--color-link);
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--grey);
  fill: var(--grey);
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
:focus {
  color: var(--color-link);
  fill: var(--color-link);
}
.smartphone-icon-con {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}
.tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--grey);
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover,
:focus {
  color: #2196f3;
}

/* main */

.first-section {
  background: #2f303a;
  align-items: center;
  background-color: bisque;
  color: #fff;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url(../images/shapka.jpg);
  max-width: 1600px;
  min-width: 1200px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-title {
  color: #fff;
  font-family: var(--font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 696px;
}
.center {
  text-align: center;
}
.button {
  background: var(--color-link);
  font-family: var(--font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  letter-spacing: 0.06em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icon-about-item {
  display: inline-block;
  width: 270px;
  height: 120px;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-item {
  width: 270px;
}
.about-item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-plan::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-astronavt::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.mini-title {
  color: var(--color-title);
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.li-discription {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work-section {
  padding-bottom: 94px;
}
.title {
  font-style: 500;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.images {
  padding-bottom: 94px;
}
.image-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.images-card {
  position: relative;
}
.img-description {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 27px 82px 27px 83px;
  width: 100%;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}
.team {
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font: var(--font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.about-team {
  display: flex;
  justify-content: space-between;
}
.team-card {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.22), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-card-text {
  padding-top: 30px;
  margin-bottom: 16px;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-title);
  text-align: center;
}
.team-discription {
  font-family: var(--font);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
  margin-top: 10px;
}
.social-icons-list {
  display: flex;
  justify-content: center;
}
.social-icons-item {
  margin-right: 10px;
}
.social-icons-item:not(:last-child) {
  margin-right: 10px;
}
.social-icons-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover {
  background-color: var(--color-link);
}
.social-icons-svg {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}
.social-icons-link:hover .social-icons-svg {
  fill: #fff;
}

.social-icons-link:focus {
  background-color: var(--color-link);
}
.social-icons-link:focus .social-icons-svg {
  fill: #fff;
}
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-clients {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
:focus {
  fill: var(--color-link);
  border-color: var(--color-link);
}
.clients-svg {
  width: 106px;
  height: 60px;
}
/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-content {
  align-items: baseline;
  display: flex;
}
.white {
  color: #fff;
}
.logo-footer {
  display: flex;
  margin-bottom: 20px;
  display: inline-block;
}
.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  display: flex;
  display: inline-block;
  margin-bottom: 9px;
  width: 231px;
}
.contacts-footer {
  width: 231px;
  margin-right: none;
}

.mail-footer,
.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-bottom: 9px;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-footer:hover,
:focus {
  color: var(--color-link);
}
.tel-footer:hover,
:focus {
  color: var(--color-link);
}
.info-footer {
  margin-right: 70px;
}
.footer-title {
  color: #fff;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.list-icon-footer {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}
.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--color-link);
}
.footer-icon {
  height: 20px;
  width: 20px;
  fill: #fff;
}
.footer-link:hover .footer-icon {
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-win {
  position: absolute;
  background-color: #fff;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.close-icon {
  width: 18px;
  height: 18px;
  fill: black;
}

.modal-form {
  width: 100%;
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--color-title);
}

.field-list {
  display: flex;
  flex-direction: column;
}

.field-item {
  display: block;
}

.modal-label {
  display: block;
  content: "";
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--grey);
}

.input-block {
  position: relative;
  margin-bottom: 10px;
}

.input-block:focus-within > .modal-input {
  outline: none;
  border: var(--color-link) 1px solid;
}

.input-block:focus-within > .form-icon {
  fill: var(--color-link);
}

.field-item .modal-input {
  padding: 10px 0px 10px 42px;
  width: 100%;

  color: var(--color-title);
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--time-animation);
}

.field-list .modal-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  font-family: var(--font);
  color: var(--color-title);
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 200ms var(--time-animation);
}

.modal-coment::placeholder {
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--time-animation);
}

/* PAGE 2 ************************************************************************************************************/
.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(236, 236, 236, 1);
}
.header-bottom {
  width: 100%;
  height: 1px;
  color: #212121;
  border-bottom: #212121;
}
.btns-portfolio {
  margin-bottom: 50px;
}
.btn-list {
  display: flex;
  justify-content: center;
}
.btn-list-item {
  margin-right: 8px;
}
.btn-list-item:last-child {
  margin-right: 0px;
}
.portfolio-buttons {
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  font-family: var(--font);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  color: #fff;
  background: var(--color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.second-page-main {
  padding: 94px 0px 94px 0px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}
.projects-item {
  width: 370px;
  margin: 15px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.projects-item:last-child {
  margin-right: 0;
}
.project-desc {
  position: relative;
  overflow: hidden;
}
.project-desc::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0;
  width: 322px;
}

.project-link:hover .project-desc::before,
.project-link:focus .project-desc::before {
  transform: translateY(0%);
  opacity: 1;
}
.project-link:hover .project-desc .project-info,
.project-link:focus .project-desc .project-info {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.projects-item:hover,
.projects-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-text {
  padding: 20px 24px 20px 24px;
}
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-bottom: 4px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey);
}
